.scroll-left-start {
    left: 5%;
    opacity: 0.5;
    position: relative;
    transition: left 2s, opacity 2s;
}

.scroll-left {
    opacity: 1;
    left: 0;
}

.scroll-right-start {
    opacity: 0.5;
    position: relative;
    right: 5%;
    transition: right 2s, opacity 2s;
}

.scroll-right {
    opacity: 1;
    right: 0;
}
