@media screen and (max-width: 72em) {
    /*
========================================================
    GENERAL
========================================================
*/

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        font-size: 1em;
    }

    /*
========================================================
    CATEGORY
========================================================
*/

    .category {
        width: 12em;
    }
}

@media screen and (max-width: 64em) {
    /*
========================================================
    HEADER
========================================================
*/

    header > section:nth-of-type(2) a {
        position: absolute;
        left: 2.25em;
        bottom: -2.5em;
    }

    header > section:nth-of-type(3) a {
        position: absolute;
        bottom: -2.5em;
        left: 12em;
    }

    /*
========================================================
    BREADCRUMB
========================================================
*/

    body > section:nth-of-type(1) {
        display: none;
    }

    /*
========================================================
    CATEGORY
========================================================
*/

    /*category*/
    .category {
        position: fixed;
        z-index: 1;
        bottom: 1em;
        left: -18em;
        width: 25%;
        height: inherit;
        margin-left: inherit;
        background: #00d66c;
        padding: 0.625em;
        border-radius: 0 1.25em 1.25em 0;
        transition: left 0.5s;
    }

    .category-open {
        position: fixed;
        z-index: 1;
        bottom: 1em;
        left: 0;
        width: 25%;
        background: #00d66c;
        padding: 0.625em;
        border-radius: 0 1.25em 1.25em 0;
        -moz-box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.2);
        -webkit-box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.2);
        box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.2);
        transition: left 1s;
    }

    main > section:nth-of-type(1) {
        max-width: 50%;
    }

    .category-button {
        display: inherit;
        position: fixed;
        z-index: 1;
        bottom: 1em;
        right: 1em;
        background-color: #00d66c;
        border-radius: 1em;
        padding: 0.5em;
        height: 3em;
        -moz-box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.2);
        -webkit-box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.2);
        box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.2);
    }
    /*categorie*/

    /*
========================================================
    MAIN-GRID
========================================================
*/

    main > section:nth-of-type(2) {
        width: 100%;
        padding-top: 3.75em;
        padding-left: 2.25em;
        padding-right: 2.25em;
    }

    main > section:nth-of-type(2) a {
        height: 26vw;
        width: 26vw;
    }

    /*
========================================================
    FOOTER
========================================================
*/

    footer nav {
        padding-left: inherit;
    }
}

@media screen and (max-width: 49em) {
    /*
========================================================
    MAIN-GRID
========================================================
*/

    main > section:nth-of-type(2) a {
        height: 40vw;
        width: 40vw;
    }
}
