/*
========================================================
    MAIN
========================================================
*/

main {
    display: flex;
    justify-content: flex-end;
}

/*
========================================================
    MAIN-SIDEBAR
========================================================
*/

.category {
    position: absolute;
    left: 0;
    width: 15em;
    height: 30em;
    padding: 1.25em 0 0 0.625em;
    margin-left: 2em;
    border-radius: 1.25em;
    background: #00d66c;
    color: #fff;
}

.category h1 {
    color: #fff;
}

.category-button,
.menu-button,
.search-button {
    display: none;
}

.category input[type="submit"] {
    background-color: #2800a0;
    width: 5em;
}

/*
========================================================
    MAIN-GRID
========================================================
*/
main > section:nth-of-type(2) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 75%;
    padding-right: 2.25em;
}

main > section:nth-of-type(2) a section h1 {
    font-size: 1em;
}

main > section:nth-of-type(2) > section:nth-of-type(1) {
    overflow: hidden;
    position: relative;
    display: flex;
    text-align: center;
    border-radius: 1.25em;
    height: 16vw;
    width: 100%;
    margin-bottom: 2.5em;
    z-index: 0;
}

main > section:nth-of-type(2) section:nth-of-type(1) article {
    color: #2800a0;
    width: 100%;
    font-size: 3vw;
    display: flex;
    align-self: center;
    flex-direction: column;
    z-index: 1;
}

main > section:nth-of-type(2) section:nth-of-type(1) article h1 {
    color: #fff;
    padding: 0.1em;
    width: 56vw;
    align-self: center;
    background-color: #00d66c;
    border-radius: 1em;
}

main > section:nth-of-type(2) a {
    overflow: hidden;
    position: relative;
    display: flex;
    text-align: center;
    border-radius: 1.25em;
    height: 15vw;
    width: 15vw;
    margin-bottom: 2.5em;
}

main > section:nth-of-type(2) a section {
    align-self: flex-end;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 2em;
    background-color: #2800a0;
}

main > section:nth-of-type(2) a section h1 {
    color: #fff;
    align-self: center;
}

main > section > a > section > img {
    width: 3em;
    position: absolute;
    top: 0;
    right: 0;
    padding: 0.5em;
}

/*
========================================================
    FOOTER
========================================================
*/

footer {
    height: 3em;
}

footer nav {
    display: flex;
    justify-content: center;
    width: 100%;
    padding-left: 25%;
}

footer nav ul {
    display: inherit;
}

footer li:nth-of-type(1) {
    color: #fff;
}

footer li span {
    color: #2800a0;
}

footer li {
    padding-right: 0.5em;
}
